@use 'sass:map';
@use './tokens' as tokens;

$statusButtons: (
  'info': (
    background-color: tokens.$color-info,
  ),
  'success': (
    background-color: tokens.$color-success,
  ),
  'warning': (
    background-color: tokens.$color-warning,
  ),
  'danger': (
    background-color: tokens.$color-danger,
  ),
);

// default button styles
.button {
  background-color: tokens.$color-info;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  // Setup status base buttons
  @each $key, $value in $statusButtons {
    &--#{$key} {
      background-color: map.get($value, background-color);

      &:hover {
        background-color: color-mix(in srgb, map.get($value, background-color), rgb(0, 0, 0) 10%);
      }

      &:active {
        background-color: color-mix(in srgb, map.get($value, background-color), rgb(0, 0, 0) 30%);
      }
    }
  }
}
