.button {
  &--warn {
    background-color: purple;
    color: white;

    &:hover {
      background-color: darken(purple, 10%);
    }

    &:active {
      background-color: darken(purple, 20%);
    }
  }
}
